@model IEnumerable<QL_ThuVien.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div style="padding-left:300px">
    <h2 style="background-color:deepskyblue ; color:white;width:900px;border-radius:10px;height:50px">&emsp;&emsp; Sách Mới Cập Nhật</h2>
    <br />
    @foreach (var item in Model)
    {
        <div class="post-items" style="width:900px;border-radius:10px">
            <div class="post-items-content">
                <div class="post-items-title">
                    <a href="/GioSach/Addto/@item.IDSach"><h2>@item.TenSach</h2></a>
                </div>
                <div class="post-items-body">
                    @if (item.MoTa.Length > 500)
                    {
                        @item.MoTa.Substring(1, 500)<span>...</span>
                    }
                    else
                    {
                        @item.MoTa
                    }
                </div>
                <div class="post-items-moreinfo">
                    <b>Tác giả: </b> @item.TacGia<br>
                    <b>Ngày xuất bản: </b> @item.NgayXuatBan<br>
                </div>

            </div>
        </div>
    }
</div>




