@model QL_ThuVien.Models.CT_PM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CT_PM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDDG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTraThucTe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTraThucTe)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
